@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&amp;family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap');

:root {
    --primary-color: red;
    --secondary-color: rgb(235, 235, 235);
    --tertiary-color: black;
    --quaternary-color: white;
    --quinary-color: rgb(248, 248, 248);
    --senary-color: #BB1E10;
    --font-family-Montserrat: Montserrat, arial, sans-serif;
    --font-size-1: 14px;
    --font-size-2: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--tertiary-color);
    font-family:var(--font-family-Montserrat);    
}



.preheader {
    display: flex;
    padding: 15px 30px;
    background-color: var(--secondary-color);
    font-size: var(--font-size-1);
    justify-content: space-between;
    gap: 20px;
    box-shadow: 2px 2px 5px;
}

.contact {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.ico_size {
    width: auto;
    height: 18px;
}

.contact a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchBorder {
    border: solid 1px black;
}

.search {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
    height: auto;
}



.search button {
    width: auto;
    height: 40px;
    border-radius: 0;
    border: none;
    border-left: solid 1px black ;
    padding: 0 30px;
    cursor: pointer;
    
}

.search button:hover {
    background-color: gray;
}

.search input {
    width: auto;
    height: 40px;
    border:none;
    border-radius: 0;
    padding: 2px;
}

.navMovile {
    display: none;
}

.navSticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.barraNav {
    background-color: var(--primary-color);
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 2px 2px 5px;
}

.barraNav a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--quaternary-color);
    font-size: var(--font-size-2);
}

.titulo{
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px;    
    
}
.tituloSize {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.titulo img{
    width: 100%;
    height: auto;
    max-width: 1960px;
    
    
}

.titulo2 {
    display: none;
}

main {
    background-color: var(--quinary-color);
    margin-top: 10px;  
}

.productos {
    margin-top: 10px;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: auto;
    gap: 20px;
    background-color: var(--quaternary-color);    
}

.tarjeta {
    width: 150px;
    height: auto;
    border: solid 1px rgb(188, 188, 188);
    padding: 5px;
}

.tarjeta:hover {
    box-shadow: 2px 2px 2px 0px rgba(128, 128, 128, 0.3);
}

.tarjetaTop {
    display: flex;
    img {
        width: 60px;
        height: auto;
    }
}


.tarjetaBottom {
    display: flex;
    justify-content: right;
    align-items: center;
    p {
        color: var(--senary-color);
    }
    img {
        width: 15px;
        height: auto;
    }
}

.productosMain {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 10px;
}

.tarjetaMain {
    background-color: var(--quaternary-color);
    border: solid 1px rgb(188, 188, 188);
    padding: 10px;
    
}

.tarjetaMain:hover {
    box-shadow: 2px 2px 2px 0px rgba(128, 128, 128, 0.3);
}

.tarjetaMainTop {
    display: flex;
    flex-direction: column;
}

.tarjetaPrecio {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}

.tarjetaMainBottom {
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
    }
}

.puntero{
    cursor: pointer;
}

.red {
    color: var(--senary-color);
}

.info {
    display: flex;
    justify-content: center;
    background-color: black/*var(--primary-color)*/;
}

.tarjetaInfo {
    width: 290px;
    height: auto;
    padding: 10px;
}

.tarjetaInfo p {
    color: var(--secondary-color);
}


footer {
    background-color: rgb(69, 69, 69);
}

.footerStyle {
    color: var(--secondary-color);
    padding: 5px;
    cursor: pointer;
}

.footerFlex {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1600px){

    .productosMain {
        grid-template-columns:repeat(4,1fr) ;
    }

} 

@media (max-width: 1300px){

    .productosMain {
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media (max-width:1010px) {
    .productosMain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:745px) {
    .preheader {
        display: none;
    }
    .info {
        flex-direction: column;
        align-items: center;
    }
    .tarjetaInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: none;
    }

    .titulo {
        display: none;
    }

    .titulo2 {
        display: flex;
        
    }

    .titulo2 img {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .search a{
        display: none;
    }

    .search {
        justify-content: center;
        
    }

    .searchBorder{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .navMovile {
        background-color: var(--primary-color);
        padding: 5px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        box-shadow: 2px 2px 5px;
    }

    .navMovile img {
        width: auto;
        height: 30px;
        cursor: pointer;
    }

    .navMovile ul {
        display: flex;
        gap: 20px;
    }

    .navSticky {
        display: none;
    }
    
}

@media (max-width:575px) {
    .productosMain {
        grid-template-columns: repeat(1,1fr);
    }
}